<!doctype html>
<html ng-app="client">
  <head>
    <title>DayTripSF</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <h1>Day Trip SF</h1>
    </header>

    <div class="container">
      <form ng-controller="FormController">
        <p>Tell me what you want to do, I'll tell you where to go</p>
        <input type="text" placeholder="Field 1" ng-model="field1">
        <input type="text" placeholder="Field 2" ng-model="field2">
        <input type="text" placeholder="Field 3" ng-model="field3">
        <input type="text" placeholder="Field 4" ng-model="field4">
        <input type="text" placeholder="Field 5" ng-model="field5">
        <button ng-click="postToServer([field1, field2, field3, field4, field5]);">Get Activities</button>
      </form>
    </div>

    <div class="container"ng-controller="DisplayController" ng-hide="!activities.length">
      <div class="suggestion_container"ng-repeat="things in activities">
        <div class="text_data">
          <img class="thumbnail" ng-src="{{things.image_url}}">
          <h3>{{things.name}}</h3>

          <p class="location">{{things.location[0]}}, {{things.location[1]}}</p>
          <p class="phone">{{things.phone}} <a class="yelp_link" ng-href="{{things.url}}">Yelp page</a></p>
          <p class="search_term">search result for: {{things.search_term}}</p>

        </div> 
      </div>   
      <img src="yelp-logo-xsmall@3x.png"> 
    </div>
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="angularapp.js"></script>
  </body>
</html>

